<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <!-- https://dev.azure.com/dnceng/public/_packaging?_a=feed&feed=mono-wasm-experiment -->
    <add key="mono-wasm-experiment" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/mono-wasm-experiment/nuget/v3/index.json" />
    <add key="local" value="./artifacts/" />
  </packageSources>
</configuration>
