<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
      We set this to a local folder, so it gets cleaned by `dotnet clean`
      and we can also use Test_NuGet_ForceReinstall in Directory.Build.props.
     -->
    <add key="globalPackagesFolder" value="./.packages" />
  </config>
</configuration>
